body {
  margin: 7vh;
  background-color: rgb(240, 155, 75);
}

.squre {
  background-color: #ffffff;
  color: rgb(7, 7, 5);
  cursor: pointer;
  text-align: center;
  border: 1px solid #000000;
  float: left;
  font-size: 74px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10px;
  height: 100px;
  width: 100px;
}
.squre:hover {
  background-color: #ede7e7;
}

.board {
  box-sizing: border-box;
  background-color: #282c34;
  padding: 95px;
  /* text-align: center; */
  width: 500px;
  height: 85vh;
}

.board-row {
  text-align: center;
  background-color: white;
  clear: both;
  content: "";
  display: table;
}

.Gotomove-board {
  margin-top: 4vh;
  border-radius: 5%;
  background-color: white;
  height: 200px;
  width: 300px;
}

b {
  color: white;
  margin-bottom: 5px;
  font-size: 25px;
}

.footer {
  background-color: white;
  font-size: 20px;
  color: #282c34;
  height: 5px;
  width: 500px;
}

strong {
  margin-left: 7vh;
  text-align: center;
  font-size: 25px;
  color: white;
}

.Gotomove {
  color: #000000;
  font-weight: bolder;
  margin-left: 3px;
}

.movebutton {
  margin-left: 8px;
  margin-bottom: 8px;
  font-weight: 300;
  border: 1px solid #d28d2c;
  border-radius: 6px;
  background-color: #000000;

  color: white;
}

/* Responsive for mobile */
@media only screen and (max-width: 400px) {
  body {
    margin: 3vh;
    background-color: rgb(240, 155, 75);
  }

  .squre {
    background-color: #ffffff;
    color: rgb(7, 7, 5);
    cursor: pointer;
    text-align: center;
    border: 1px solid #000000;
    float: left;
    font-size: 55px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0%;
    height: 63px;
    width: 63px;
  }

  .board {
    box-sizing: border-box;
    background-color: #282c34;
    padding: 50px;
    width: 300px;
    height: 500px;
  }

  .Gotomove-board {
    margin-top: 4vh;
    border-radius: 5%;
    background-color: white;
    height: 110px;
    width: 200px;
  }

  .movebutton {
    margin-left: 2px;
    margin-bottom: 1px;
    font-weight: 300;
    font-size: 8px;
    border: 1px solid #d28d2c;
    border-radius: 6px;
    background-color: #000000;
    padding: 2px;
    color: white;
  }

  strong {
    margin-left: 3vh;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .footer {
    background-color: white;
    font-size: 15px;
    color: #282c34;
    height: 5px;
    width: 33vh;
  }
}
